*{
    margin: 0%;
    padding: 0%;
    background-color: black;
    overflow: hidden;
}
.hoverme{
    margin: 45vh 45vw;
    padding: 15px 5px;
    border: 2px solid rgb(243, 154, 37);
    text-align: center;
    color: rgb(206, 129, 15);
    font-weight: 500;
    transition: 0.5s;
}
.hoverme:hover{
    cursor: pointer;
    transform:scale(1.2);
    border-color:rgb(201, 198, 44)  ;
    color: aliceblue;
    box-shadow: 0px 5px 8px rgb(201, 198, 44) ;
}